/* styles.css */

#gridContainer {
    width: 100%;
    padding: 30px ;
    display: grid;
    grid-template-columns: 50px, 1fr, 1fr, 1fr;
    grid-template-rows: 50px, 2fr, 1fr, 1fr, auto;
    gap: 20px;
    position: relative;
}
#titel {
    grid-column: span 2;
    grid-row: 1;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}
#image1 {
    
    width: 400px;
    height: auto;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 4;
    grid-row: span 3;
}
#text {
    grid-column: 2;
    grid-row: span 2;
    align-self: right;
    color: red;
}
.quotes {
    grid-row: 4;
    grid-column: span 4;
    display: flex;
    justify-content: space-around;
}
#quote-box1{
    display: flex;
    max-width: 200px;
}
.quote-box {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    max-width: 200px;
}

.links {
    grid-column: span 3;
    grid-row: 5;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.link-box {
    border: 1px solid black;
    padding: 10px;
    display: flex;
}

